<section>
  <h1 class='text-primary text-center text-primary'>Error al registrar el usuario</h1>
  <button type='button' class='btn btn-outline-dark'><a href='./signup' style='text-decoration: none;'>Sign Up</a></button>
</section>