<section>
  <h1 class='text-primary text-center text-primary'>Error al iniciar sesion</h1>
  <h2 class='text-primary text-center'>Vuelve a intentarlo</h2>
  <button type='button' class='btn btn-outline-dark'><a href='./login' style='text-decoration: none;'>Log In</a></button>
</section>