<section>
  <h1 class='text-secondary text-center text-success'>RUTA INFO</h1>
  <p class='info'> <strong>Transferido con compresi칩n: </strong> 808 Bytes<span>(</span>tama침o 1.36 kB<span>)</span> </p>
  <p class='info'> <strong>Transferido sin compresi칩n: </strong> 1.61 kB<span>(</span>tama침o 1.38 kB<span>)</span></p>
</section>