<section class='p-4 bg-warning'>
  <h1 class='text-primary text-center text-primary'>GRACIAS POR VISITARNOS</h1>
  <button type='button' class='btn btn-outline-dark'><a href='/' style='text-decoration: none;'>Inicio</a></button>
</section>