<section class='p-4 bg-warning'>
  <h1 class='text-primary text-center text-primary'>REGISTRO</h1>

  <div class='mb-3'>
    <form action='/signup' method='POST'>
      <div>
        <label class='form-label text-primary fs-3' for='user'>Ingrese Mail y contraseña</label>
        <br />
        <input type='text' id='inputNewUser' name='username' class='form-control' placeholder='email' required />
        <input type='text' id='inputNewPass' name='password' class='form-control' placeholder='contraseña' required />
      </div>
      <br />
      <input type='submit' class='btn btn-primary d-block mx-auto' value='Registrarme!' />
    </form>
    <button type='button' class='btn btn-outline-dark'><a href='./login' style='text-decoration: none;'>Log In</a></button>

  </div>

</section>