<section class='p-4 bg-warning'>
  <h1 class='text-primary text-center text-primary'>REGISTRADO CORRECTAMENTE</h1>

  <div class='mb-3'>
    <div>
      <label class='form-label text-primary fs-3' for='login'>Tus datos son:</label>
      <div>
        usuario:
        {{user.username}}
        <br />
        contraseña:
        {{user.password}}
      </div>
    </div>
    <br />
    <button type='button' class='btn btn-outline-dark'><a href='./logout' style='text-decoration: none;'>Salir</a></button>
  </div>
</section>